body{
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    cursor:auto;
}
.headDiv{
    padding-left: 27px;
    padding-right: 32px;
    width: 1220px;
    height: 66px;   

}
.headDiv .Papago_face{
    position: relative;
    width: 130px;
    height: 49px;
    display: flex;
    align-items: center;
    padding-top: 14px;
}
.headDiv{
    display: flex;
    flex-direction: row;
}
.headDiv .Papago_text p{
    font-size: 15px;
    font-weight: bold;
}
.leftpage{
    margin:0 0 0 28px;
    position: relative;
    padding-top:22px;
}
.one{
    position: relative;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight:552;
    font-size: 16px;
}
.two{
    position: relative;
    padding-right: 15px;
    font-weight: 510;
    font-size: 500;
    font-size: 20px;
}
.three{
    position: relative;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.rightpage{
    position:absolute;
    top:0;
    right:10px;
    display: flex;
    flex-direction: row;
    width:230px;
    height:74px;    
}
.rightpage .small{
    width:24px;
    height:24px;
    position: absolute;
    padding-right: 30px;
}
.rightpage .star{
    width:33px;
    height:33px;
    position: relative;
}
.rightpage .setting{
    width:28px;
    height:28px;
    position: relative;
}
.rightpage .square{
    width:28px;
    height: 28px;
}
.rightpage span{
    width:36px;
    height:74px;
    position: relative;
}
.rightpage span{
    width:36px;
    height:74px;
    position: relative;
}
.rightpage span{
    width:28px;
    height:28px;
    position: relative;
}
.rightpage span{
    width:28px;
    height: 28px;
}
.rightpage .login{
    border: 1px solid rgb(226, 217, 217);
    width: 53px;
    height:26px;
    position: relative;
    margin-top: 20px;
}.rightpage .login span{
    font-size: 14px;
    position: relative;
    text-align: center;
    align-items: center;
    color:rgb(76, 74, 74);
}
.middleline{
    opacity: 0.4;
}
.middleline2{
    opacity: 0.1;
    margin:0;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 48px;
}
.leftarea{
    width: 650px;
    height:340px;
    border: 1px solid rgb(230, 225, 225);
    position: relative;
    margin: 0 4px;
}
.language{
    display: flex;
    flex-direction: row;
    position: relative;
    padding:0 5px 0 23px;
    width: 610px;
    height: 52px;
}
.language-button span{
    position: relative;
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 18px;
}
.language-button{
    width:130.49px;
    height:52px;
    display: inline-block;
}
.rightarea{
    width: 635px;
    height:340px;
    border: 1px solid rgb(230, 225, 225);
    position: relative;
    margin: 0 4px;
}
.language-button span:hover{
    color: rgb(54, 175, 54);
}
.typing{
    background-color: white;
    width:565px;
    height: 150px;  
    font-size: inherit;
    font-family: inherit;
}
.typing-div{
    width:571.4px;
    height: 155px;
    padding:28px 35px 36px;
    margin: 0;
}
.fa-chevron-down{
    width:20px;
    height: 10px;
}
.play{
    display: flex;
    flex-direction: row;
    width:641.4px;
    height: 64px;
    display: flex;
    justify-content: center;
}
.img1{
    width: 10px;
    height: 10px;
    position:relative;
    padding-left: 200px;
}
.translate{
    width:134px;
    height: 63px;
    background-color: #21DC6D;
    border-radius: 2px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.translate span{
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-style:inherit;
}